* {
    margin: 0;
    padding: 0;
}

header > *{
    margin: 10px auto;
}

main {
    display: flex;
    justify-content: center;
}
div#rock {
    background: green;
}

div#paper {
    background: red;
}

div#scissors {
    background: limegreen;
}