*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

header > *{
    margin: 10px auto;
}

dialog {
    padding: 1em;
    min-width: 50ch;
    border: 0;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
    margin: auto;
}

.weapon-btn {
    cursor: pointer;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    border: 0.3em solid #000000;
    margin: 20px;
    position: relative;
    transition: transform 0.3s;
}
.weapon-btn:hover {
    transform: scale(1.05);
}

.weapon-btn::before {
    position: absolute;
    content: '';
    background: gray;
    top: 0;
    right: -2px;
    bottom: 0;
    left: 0px;
    opacity: 0.7;
    border-radius: 20px;
    transform: scale(1.01);
    transition: opacity 0.3s ease-in-out;
}
.weapon-btn:hover::before {
    opacity: 0;
}

p#result {
    text-align: center;
    margin-top: 30px;
}

div#player-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
div#player-btn p {
    font-size: 20em;
    margin-left: 0.4em;
}

div#rock {
    background-color: green;
    background-image: url('images/rock.png');
    background-size: cover;
}

div#paper {
    background: red;
    background-image: url('images/paper.png');
    background-size: cover;
}

div#scissors {
    background: limegreen;
    background-image: url('images/scissors.png');
    background-size: cover;
}