*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    min-height: 100vh;
}

header {
    background: #757373;
    color:#fff;
    text-align: center;
    font-size: 2.5em;
}

p#result {
    font-size: 2.5em;
}

dialog {
    text-align: center;
    padding: 2em;
    min-width: 50ch;
    border: 0;
    border-radius: 1.25em;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
    margin: auto;
    background: rgba(0, 0, 0, .7);
}
dialog > p {
    color: #03e9f4;
    font-size: 4em;
    margin-bottom: 1em;
}
dialog > button{
    position: relative;
    background-color: transparent;
    border: 0px solid transparent;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 1em;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 2px;
    outline: 0;
}
dialog > button:hover,
dialog > button:focus{
    border: 0 double transparent;
    background: #03e9f4;
    color: #fff;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
}
dialog > button span {
    position: absolute;
    display: block;
}
dialog > button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}
@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%, 100% {
        left: 100%;
    }
}
dialog > button span:nth-child(2) {
    top: -100%;
    right: 0;
    height: 100%;
    width: 2px;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s;
}
@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%, 100% {
        top: 100%;
    }
}
dialog > button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .57s;
}
@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%, 100% {
        right: 100%;
    }
}
dialog > button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s;
}
@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%, 100% {
        bottom: 100%;
    }
}

.square {
    background-position: top center;
    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 1.25em;
    border: 0.3em solid #000000;
    margin: 1.25em;
    position: relative;
    transition: transform 0.3s;
}

.weapon-btn {
    cursor: pointer;
}
.weapon-btn:hover {
    transform: scale(1.05);
}

.square::before {
    position: absolute;
    content: '';
    background: gray;
    top: 0;
    right: -2px;
    bottom: 0;
    left: 0px;
    opacity: 0.7;
    border-radius: 20px;
    transform: scale(1.01);
    transition: opacity 0.3s ease-in-out;
}
/* player selection highlight when hovered
   computer weapon highlight the selected weapon */
.weapon-btn:hover::before,
.selected-weapon::before {
    opacity: 0;
}

p#result {
    text-align: center;
    margin-top: 30px;
}

div#player-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
p.score {
    font-size: 20em;
    margin-left: 0.4em;
}

div#rock,
div#computer-rock {
    background-color: green;
    background-image: url('images/rock.png');
    background-size: cover;
}

div#paper,
div#computer-paper {
    background: red;
    background-image: url('images/paper.png');
    background-size: cover;
}

div#scissors,
div#computer-scissors {
    background: limegreen;
    background-image: url('images/scissors.png');
    background-size: cover;
}